.btn-pc-i{ 
    width: 100px;
    background: #3F51B5;
    padding: 10px;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-pc-i:hover{
    background: #303F9F;
}

.btn-pc-i2{ 
    width: 100px;
    background: #ffffff;
    border: solid 2px #3F51B5;
    padding: 10px;
    border-radius: 25px;
    color: #3F51B5;
    cursor: pointer;
}

.btn-pc-i2:hover{
    background: #3F51B5;
    color: #ffffff;
}

.btn-pc-i {
  width: 100px;
  background: #3F51B5;
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-i:hover {
  background: #303F9F;
}

.btn-pc-i2 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #3F51B5;
  padding: 10px;
  border-radius: 25px;
  color: #3F51B5;
  cursor: pointer;
}

.btn-pc-i2:hover {
  background: #3F51B5;
  color: #ffffff;
}

.btn-pc-c {
  width: 100px;
  background: #00BCD4;
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-c:hover {
  background: #0097A7;
}

.btn-pc-c2 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #00BCD4;
  padding: 10px;
  border-radius: 25px;
  color: #00BCD4;
  cursor: pointer;
}

.btn-pc-c2:hover {
  background: #00BCD4;
  color: #ffffff;
}

.btn-pc-l {
  width: 100px;
  background: #8BC34A;
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-l:hover {
  background: #689F38;
}

.btn-pc-l2 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #8BC34A;
  padding: 10px;
  border-radius: 25px;
  color: #8BC34A;
  cursor: pointer;
}

.btn-pc-l2:hover {
  background: #8BC34A;
  color: #ffffff;
}

.btn-pc-i3 {
  width: 100px;
  background: #3F51B5;
  padding: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-i3:hover {
  background: #303F9F;
}

.btn-pc-i4 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #3F51B5;
  padding: 10px;
  color: #3F51B5;
  cursor: pointer;
}

.btn-pc-i4:hover {
  background: #3F51B5;
  color: #ffffff;
}

.btn-pc-c3 {
  width: 100px;
  background: #00BCD4;
  padding: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-c3:hover {
  background: #0097A7;
}

.btn-pc-c4 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #00BCD4;
  padding: 10px;
  color: #00BCD4;
  cursor: pointer;
}

.btn-pc-c4:hover {
  background: #00BCD4;
  color: #ffffff;
}

.btn-pc-l3 {
  width: 100px;
  background: #8BC34A;
  padding: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-l3:hover {
  background: #689F38;
}

.btn-pc-l4 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #8BC34A;
  padding: 10px;
  color: #8BC34A;
  cursor: pointer;
}

.btn-pc-l4:hover {
  background: #8BC34A;
  color: #ffffff;
}

.btn-pc-i5 {
  width: 100px;
  background: #3F51B5;
  box-shadow: 0px 0px 15px #3F51B5;
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-i5:hover {
  background: #303F9F;
}

.btn-pc-i6 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #3F51B5;
  box-shadow: 0px 0px 15px #3F51B5;
  padding: 10px;
  border-radius: 25px;
  color: #3F51B5;
  cursor: pointer;
}

.btn-pc-i6:hover {
  background: #3F51B5;
  color: #ffffff;
}

.btn-pc-c5 {
  width: 100px;
  background: #00BCD4;
  box-shadow: 0px 0px 15px #00BCD4;
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-c5:hover {
  background: #0097A7;
}

.btn-pc-c6 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #00BCD4;
  box-shadow: 0px 0px 15px #00BCD4;
  padding: 10px;
  border-radius: 25px;
  color: #00BCD4;
  cursor: pointer;
}

.btn-pc-c6:hover {
  background: #00BCD4;
  color: #ffffff;
}

.btn-pc-l5 {
  width: 100px;
  background: #8BC34A;
  box-shadow: 0px 0px 15px #8BC34A;
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-l5:hover {
  background: #689F38;
}

.btn-pc-l6 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #8BC34A;
  box-shadow: 0px 0px 15px #8BC34A;
  padding: 10px;
  border-radius: 25px;
  color: #8BC34A;
  cursor: pointer;
}

.btn-pc-l6:hover {
  background: #8BC34A;
  color: #ffffff;
}

.btn-pc-i7 {
  width: 100px;
  background: #3F51B5;
  box-shadow: 0px 0px 15px #3F51B5;
  padding: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-i7:hover {
  background: #303F9F;
}

.btn-pc-i8 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #3F51B5;
  box-shadow: 0px 0px 15px #3F51B5;
  padding: 10px;
  color: #3F51B5;
  cursor: pointer;
}

.btn-pc-i8:hover {
  background: #3F51B5;
  color: #ffffff;
}

.btn-pc-c7 {
  width: 100px;
  background: #00BCD4;
  box-shadow: 0px 0px 15px #00BCD4;
  padding: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-c7:hover {
  background: #0097A7;
}

.btn-pc-c8 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #00BCD4;
  box-shadow: 0px 0px 15px #00BCD4;
  padding: 10px;
  color: #00BCD4;
  cursor: pointer;
}

.btn-pc-c8:hover {
  background: #00BCD4;
  color: #ffffff;
}

.btn-pc-l7 {
  width: 100px;
  background: #8BC34A;
  box-shadow: 0px 0px 15px #8BC34A;
  padding: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-l7:hover {
  background: #689F38;
}

.btn-pc-l8 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #8BC34A;
  box-shadow: 0px 0px 15px #8BC34A;
  padding: 10px;
  color: #8BC34A;
  cursor: pointer;
}

.btn-pc-l8:hover {
  background: #8BC34A;
  color: #ffffff;
}

.btn-pc-i9 {
  width: 100px;
  background: #000000;
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: #3F51B5;
  cursor: pointer;
}

.btn-pc-i10 {
  width: 100px;
  background: #000000;
  border: solid 2px #3F51B5;
  padding: 10px;
  border-radius: 25px;
  color: #3F51B5;
  cursor: pointer;
}

.btn-pc-c9 {
  width: 100px;
  background: #000000;
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: #00BCD4;
  cursor: pointer;
}

.btn-pc-c10 {
  width: 100px;
  background: #000000;
  border: solid 2px #00BCD4;
  padding: 10px;
  border-radius: 25px;
  color: #00BCD4;
  cursor: pointer;
}

.btn-pc-l9 {
  width: 100px;
  background: #000000;
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: #8BC34A;
  cursor: pointer;
}

.btn-pc-l10 {
  width: 100px;
  background: #000000;
  border: solid 2px #8BC34A;
  padding: 10px;
  border-radius: 25px;
  color: #8BC34A;
  cursor: pointer;
}

.btn-pc-i11 {
  width: 100px;
  background: #000000;
  padding: 10px;
  border: none;
  color: #3F51B5;
  cursor: pointer;
}

.btn-pc-i12 {
  width: 100px;
  background: #000000;
  border: solid 2px #3F51B5;
  padding: 10px;
  color: #3F51B5;
  cursor: pointer;
}

.btn-pc-c11 {
  width: 100px;
  background: #000000;
  padding: 10px;
  border: none;
  color: #00BCD4;
  cursor: pointer;
}

.btn-pc-c12 {
  width: 100px;
  background: #000000;
  border: solid 2px #00BCD4;
  padding: 10px;
  color: #00BCD4;
  cursor: pointer;
}

.btn-pc-l11 {
  width: 100px;
  background: #000000;
  padding: 10px;
  border: none;
  color: #8BC34A;
  cursor: pointer;
}

.btn-pc-l12 {
  width: 100px;
  background: #000000;
  border: solid 2px #8BC34A;
  padding: 10px;
  color: #8BC34A;
  cursor: pointer;
}

.btn-pc-i13 {
  width: 100px;
  background: #3F51B5;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-i13:hover {
  background: #303F9F;
}

.btn-pc-i14 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #3F51B5;
  border-radius: 5px;
  padding: 10px;
  color: #3F51B5;
  cursor: pointer;
}

.btn-pc-i14:hover {
  background: #3F51B5;
  color: #ffffff;
}

.btn-pc-c13 {
  width: 100px;
  background: #00BCD4;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-c13:hover {
  background: #0097A7;
}

.btn-pc-c14 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #00BCD4;
  border-radius: 5px;
  padding: 10px;
  color: #00BCD4;
  cursor: pointer;
}

.btn-pc-c14:hover {
  background: #00BCD4;
  color: #ffffff;
}

.btn-pc-l13 {
  width: 100px;
  background: #8BC34A;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-l13:hover {
  background: #689F38;
}

.btn-pc-l14 {
  width: 100px;
  background: #ffffff;
  border: solid 2px #8BC34A;
  border-radius: 5px;
  padding: 10px;
  color: #8BC34A;
  cursor: pointer;
}

.btn-pc-l14:hover {
  background: #8BC34A;
  color: #ffffff;
}

.btn-pc-i15 {
  width: 100px;
  background: #3F51B5;
  padding: 10px;
  border-left: solid 2px;
  border-top: solid 2px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-i15:hover {
  background: #303F9F;
}

.btn-pc-c15 {
  width: 100px;
  background: #00BCD4;
  padding: 10px;
  border-left: solid 2px;
  border-top: solid 2px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-c15:hover {
  background: #0097A7;
}

.btn-pc-l15 {
  width: 100px;
  background: #8BC34A;
  padding: 10px;
  border-radius: 5px;
  border-left: solid 2px;
  border-top: solid 2px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-l15:hover {
  background: #689F38;
}

.btn-pc-i16 {
  width: 100px;
  background: #3F51B5;
  padding: 10px;
  border-left: solid 2px;
  border-top: solid 2px;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-i16:hover {
  background: #303F9F;
}

.btn-pc-c16 {
  width: 100px;
  background: #00BCD4;
  padding: 10px;
  border-left: solid 2px;
  border-top: solid 2px;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-c16:hover {
  background: #0097A7;
}

.btn-pc-l16 {
  width: 100px;
  background: #8BC34A;
  padding: 10px;
  border-left: solid 2px;
  border-top: solid 2px;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}

.btn-pc-l16:hover {
  background: #689F38;
}