.txt-ti-g input[type=text] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #8BC34A;
  border-radius: 4px;
}

.txt2-ti-g input[type=text] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #8BC34A;
}

.txt3-ti-g input[type=text] {
  background-color: #8BC34A;
  color: white;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text]{
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.txt4-ti-g input[type=text]:focus {
  background-color: lightblue;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.txt5-ti-s input[type=text] {
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
}

.txt6-ti-s input[type=text] {
  background-color: white;
  color: #00BCD4;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.txt7-ti-s input[type=text] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 30px;
  border: 2px solid #00BCD4;
}

.txt8-ti-i input[type=text] {
  width: 25%;
  background-color: white;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px dashed #3F51B5;
}

.txt9-ti-g input[type=text] {
  width: 25%;
  background-color: white;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 6px double #8BC34A;
}

.txt10-ti-g input[type=text] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
}


