.imgestilo1{
    border-radius: 8px;
}

.imgestilo2{
        border-radius: 50%;
      }    

.imgestilo3{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      } 
      
.imgestilo4{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      }
      
      img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }
.imgestilo5{
        max-width: 100%;
        height: auto;
      }
