@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
@import url("https://fonts.googleapis.com/css?family=Asap+Condensed:600i,700");
body {
  font-family: arial, verdana, sans-serif;
  font-size: 8px;
  background: #1E1E20; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Botones 1 */
.ghost {
  background-color: transparent;
  color: #f07444;
  border: 1px solid #f07444;
  transition: 0.2s ease;
  width: 20%;
  height: 45px; }
  .ghost:hover {
    background-color: #f07444;
    color: white;
    transition: 0.2s ease; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Botones 2 */
.div1 {
  clear: both; }

.label1 {
  width: 20%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-size: 15px;
  color: green; }

/* hide input */
input.radio:empty {
  margin-left: -999px; }
  input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    input.radio:empty ~ label:before {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      content: "";
      width: 2.5em;
      background: #D1D3D4;
      border-radius: 3px 0 0 3px; }
input.radio:hover:not(:checked) ~ label {
  color: #888; }
  input.radio:hover:not(:checked) ~ label:before {
    content: "✔";
    text-indent: 0.9em;
    color: #C2C2C2; }
input.radio:checked ~ label {
  color: #777; }
  input.radio:checked ~ label:before {
    content: "✔";
    text-indent: 0.9em;
    color: #9CE2AE;
    background-color: #4DCB6D; }
input.radio:focus ~ label:before {
  box-shadow: 0 0 0 3px #999; }

/* style label */
/* toggle hover */
/* toggle on */
/* radio focus */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Botones 3 */
#button-container {
  position: relative;
  left: 0%;
  width: 203px;
  height: 43px;
  background: #022c3e;
  padding-top: 5px;
  margin-top: 10px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  border-radius: 38px;
  -webkit-box-shadow: inset 0 1px 2px #000, 0px 1px 1px rgba(255, 255, 225, 0.2);
  -moz-box-shadow: inset 0 1px 2px #000, 0px 1px 1px rgba(255, 255, 225, 0.2);
  box-shadow: inset 0 1px 2px #000, 0px 1px 0px rgba(255, 255, 225, 0.3);
  /*Hover effect */
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all; }
  #button-container:hover {
    box-shadow: inset 0 1px 2px #000, 0px 0px 10px 5px rgba(255, 255, 225, 0.2); }

#button {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 193px;
  height: 38px;
  margin: 0px auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer; }
  #button p {
    margin-top: 11px;
    margin-left: 60px;
    font-size: 15px; }

.yellow {
  /*Gradient */
  background: #ffc578;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffc578 0%, #fb9d23 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc578), color-stop(100%, #fb9d23));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffc578 0%, #fb9d23 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffc578 0%, #fb9d23 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffc578 0%, #fb9d23 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffc578 0%, #fb9d23 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 );
  /* IE6-9 */ }

#clock {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8; }

#clock-hand1 {
  position: absolute;
  width: 0px;
  height: 5px;
  border: 1px solid #000;
  top: 2px;
  left: 7px; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Botones 4 */
.btn2 {
  background: #eb94d0;
  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
  font-family: Arial;
  color: #fafafa;
  font-size: 27px;
  padding: 19px;
  text-decoration: none; }
  .btn2:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    text-decoration: none; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Botones 5 */
.btn5 {
  color: #0099CC;
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  border: 2px solid #008CBA; }
  .btn5:hover {
    background-color: #008CBA;
    color: white; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Tablas */
/*Tabla 1 */
.table1 {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
  font-size: 15px; }

.thead1 .th1:nth-child(1) {
  width: 30%; }
.thead1 .th1:nth-child(2) {
  width: 20%; }
.thead1 .th1:nth-child(3) {
  width: 15%; }
.thead1 .th1:nth-child(4) {
  width: 35%; }

.th1, .td1 {
  padding: 20px; }

.html1 {
  font-family: "helvetica neue", helvetica, arial, sans-serif; }

.thead1 .th1, .tfoot1 .th1 {
  font-family: "Rock Salt", cursive; }

.th1 {
  letter-spacing: 2px; }

.td1 {
  letter-spacing: 1px; }

.tbody1 .td1 {
  text-align: center; }

.tfoot1 .th1 {
  text-align: right; }

.thead1, .tfoot1 {
  background: url(../img/leoskin.png);
  color: white;
  text-shadow: 1px 1px 1px black; }

.thead1 .th1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  border: 3px solid purple; }

.tfoot1 .th1, .tfoot1 .td1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  border: 3px solid purple; }

.tbody1 .tr1 {
  background-image: url(noise.png); }
  .tbody1 .tr1:nth-child(odd) {
    background-color: #ff33cc; }
  .tbody1 .tr1:nth-child(even) {
    background-color: #e495e4; }

.table1 {
  background-color: #ff33cc; }

.caption1 {
  font-family: "Rock Salt", cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Tabla 2 */
.table2 {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #ed1c40;
  width: 500px;
  margin: 50px auto;
  border-radius: 0.25rem;
  font-size: 180%; }

.thead2 tr:first-child {
  background: #ed1c40;
  color: #fff;
  border: none; }

.th2:first-child, .td2:first-child {
  padding: 0 15px 0 20px;
  background-color: #d22525; }

.th2 {
  font-weight: 500; }

.thead2 tr:last-child th {
  border-bottom: 3px solid #ddd; }

.tbody2 tr:hover {
  background-color: #f2f2f2;
  cursor: default; }
.tbody2 tr:last-child td {
  border: none; }
.tbody2 td {
  border-bottom: 1px solid #ddd; }

.td2:last-child {
  text-align: right;
  padding-right: 10px; }

.button2 {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px; }

.edit:hover {
  color: #0a79df; }

.delete:hover {
  color: #dc2a2a; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Tabla 3 */
.table3 {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid blue;
  font-size: 15px; }

.thead3 .th3:nth-child(1) {
  width: 30%; }
.thead3 .th3:nth-child(2) {
  width: 20%; }
.thead3 .th3:nth-child(3) {
  width: 15%; }
.thead3 .th3:nth-child(4) {
  width: 35%; }

.th3, .td3 {
  padding: 20px; }

.html3 {
  font-family: "helvetica neue", helvetica, arial, sans-serif; }

.thead3 .th3, .tfoot3 .th3 {
  font-family: "Rock Salt", cursive; }

.th3 {
  letter-spacing: 2px; }

.td3 {
  letter-spacing: 1px; }

.tbody3 .td3 {
  text-align: center; }

.tfoot3 .th3 {
  text-align: right; }

.thead3, .tfoot3 {
  background: url(../img/zebraskin.png);
  color: white;
  text-shadow: 1px 1px 1px black; }

.thead3 .th3, .tfoot3 .th3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  border: 3px solid blue; }

.tbody3 .tr3 {
  background-image: url(noise.png); }
  .tbody3 .tr3:nth-child(odd) {
    background-color: #1976D2; }
  .tbody3 .tr3:nth-child(even) {
    background-color: #2196f3; }

.table3 {
  background-color: #1976D2; }

.caption3 {
  font-family: "Rock Salt", cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Tabla 4 */
.table4 {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #004D40;
  width: 500px;
  margin: 50px auto;
  border-radius: 0.25rem;
  font-size: 180%; }

.thead4 .tr4:first-child {
  background: #009688;
  color: #fff;
  border: none; }

.th4:first-child, .td4:first-child {
  padding: 0 15px 0 20px;
  background-color: #009688; }

.th4 {
  font-weight: 500; }

.thead4 .tr4:last-child .th4 {
  border-bottom: 3px solid #ddd; }

.tbody4 .tr4:hover {
  background-color: #008FA5;
  cursor: default; }
.tbody4 .tr4:last-child td {
  border: none; }
.tbody4 .td4 {
  border-bottom: 1px solid #ddd; }

.td4:last-child {
  text-align: right;
  padding-right: 10px; }

.button4 {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
  background-color: #004D40; }

.edit:hover {
  color: #0a79df; }

.delete:hover {
  color: #dc2a2a; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Tabla 5 */
.table5 {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #4CAF50;
  font-size: 15px; }

.thead5 .th5:nth-child(1) {
  width: 30%; }
.thead5 .th5:nth-child(2) {
  width: 20%; }
.thead5 .th5:nth-child(3) {
  width: 15%; }
.thead5 .th5:nth-child(4) {
  width: 35%; }

.th5, .td5 {
  padding: 20px; }

.html5 {
  font-family: "helvetica neue", helvetica, arial, sans-serif; }

.thead5 .th5, .tfoot5 .th5 {
  font-family: "Rock Salt", cursive; }

.th5 {
  letter-spacing: 2px; }

.td5 {
  letter-spacing: 1px; }

.tbody5 .td5 {
  text-align: center; }

.tfoot5 .th5 {
  text-align: right; }

.thead5, .tfoot5 {
  background: url(../img/background.png);
  color: white;
  text-shadow: 1px 1px 1px black; }

.thead5 .th5 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  border: 3px solid #185E20; }

.tfoot5 .th5, .tfoot5 .td5 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  border: 3px solid #185E20; }

.tbody5 .tr5 {
  background-image: url(noise.png); }
  .tbody5 .tr5:nth-child(odd) {
    background-color: #00C853; }
  .tbody5 .tr5:nth-child(even) {
    background-color: #81C784; }

.table5 {
  background-color: #185E20; }

.caption1 {
  font-family: "Rock Salt", cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px; }

/**************************************************************************** */
/*Tarjetas */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Tarjeta 1 */
/*Just the background stuff */
.spans1 {
  position: absolute;
  top: 0;
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447; }

.spans2 {
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15rem;
  text-transform: uppercase;
  color: #3C4447; }

/*My hum... body.. yeah.. */
/* The card */
.card1 {
  position: relative;
  height: 450px;
  width: 900px;
  margin: 200px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75); }

/* Image on the left side */
.thumbnail1 {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 320px;
  width: 530px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden; }

/*object-fit: cover; */
/*object-position: center; */
.imgleft1 {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* Right side of the card */
.right1 {
  margin-left: 590px;
  margin-right: 20px; }

.h11 {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B; }

.author1 {
  background-color: #9ECAFF;
  height: 30px;
  width: 110px;
  border-radius: 20px; }
  .author1 > .img1 {
    padding-top: 5px;
    margin-left: 10px;
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 50%; }

.h21 {
  padding-top: 8px;
  margin-right: 6px;
  text-align: right;
  font-size: 0.8rem; }

.separator1 {
  margin-top: 10px;
  border: 1px solid #C3C3C3; }

.p1 {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B; }

/* DATE of release */
.h51 {
  position: absolute;
  left: 30px;
  bottom: -120px;
  font-size: 6rem;
  color: #C3C3C3; }

.h61 {
  position: absolute;
  left: 30px;
  bottom: -55px;
  font-size: 2rem;
  color: #C3C3C3; }

/* Those futur buttons */
.ul1 {
  margin-left: 250px; }

.li1 {
  display: inline;
  list-style: none;
  padding-right: 40px;
  color: #7B7B7B; }

/* Floating action button */
.fab1 {
  position: absolute;
  right: 50px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #1875D0;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75); }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Tarjeta 2 */
.blog-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0; }
  .blog-card a {
    color: inherit; }
    .blog-card a:hover {
      color: #5ad67d; }
  .blog-card:hover .photo {
    -webkit-transform: scale(1.3) rotate(3deg);
    transform: scale(1.3) rotate(3deg); }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px; }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; }
  .blog-card .details {
    margin: auto;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem; }
    .blog-card .details ul {
      margin: auto;
      padding: 0;
      list-style: none; }
    .blog-card .details a {
      -webkit-text-decoration: dotted underline;
      text-decoration: dotted underline; }
    .blog-card .details ul li {
      display: inline-block; }
    .blog-card .details .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: ""; }
    .blog-card .details .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: ""; }
    .blog-card .details .tags ul:before {
      font-family: FontAwesome;
      content: "";
      margin-right: 10px; }
    .blog-card .details .tags li {
      margin-right: 2px; }
      .blog-card .details .tags li:first-child {
        margin-left: -4px; }
  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1; }
    .blog-card .description h1, .blog-card .description h2 {
      font-family: Poppins, sans-serif; }
    .blog-card .description h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem; }
    .blog-card .description h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #a2a2a2;
      margin-top: 5px; }
    .blog-card .description .read-more {
      text-align: right; }
      .blog-card .description .read-more a {
        color: #5ad67d;
        display: inline-block;
        position: relative; }
        .blog-card .description .read-more a:after {
          content: "";
          font-family: FontAwesome;
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          -webkit-transition: margin 0.3s, opacity 0.3s;
          transition: margin 0.3s, opacity 0.3s; }
        .blog-card .description .read-more a:hover:after {
          margin-left: 5px;
          opacity: 1; }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0; }
    .blog-card p:first-of-type {
      margin-top: 1.25rem; }
      .blog-card p:first-of-type:before {
        content: "";
        position: absolute;
        height: 5px;
        background: #5ad67d;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px; }
  .blog-card:hover .details {
    left: 0%; }

@media (min-width: 640px) {
  .blog-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    max-width: 700px; }
    .blog-card .meta {
      flex-basis: 40%;
      height: auto; }
    .blog-card .description {
      flex-basis: 60%; }
      .blog-card .description:before {
        -webkit-transform: skewX(-3deg);
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1; }
    .blog-card.alt {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      flex-direction: row-reverse; }
      .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        -webkit-transform: skew(3deg);
        transform: skew(3deg); }
      .blog-card.alt .details {
        padding-left: 25px; } }
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Tarjeta 3 */
.blog-card3 {
  width: 350px;
  height: 500px;
  top: 820%;
  position: absolute;
  left: 50%;
  margin: -250px 0 0 -175px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center; }
  .blog-card3.spring-fever {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/bg-blog-card.jpg) no-repeat; }
  .blog-card3 .color-overlay {
    /* Rectangle 11: */
    background: rgba(84, 104, 110, 0.4);
    width: 350px;
    height: 500px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); }
  .blog-card3 .gradient-overlay {
    /* bg-gradient: */
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
    width: 350px;
    height: 500px;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 15; }
  .blog-card3:hover .card-info {
    opacity: 1;
    bottom: 120px; }
  .blog-card3:hover .color-overlay {
    background: rgba(84, 104, 110, 0.8); }

.title-content3 {
  text-align: center;
  margin: 70px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0; }

.h33 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #9CC9E3;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0; }

.hr3 {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #D0BB57; }

.intro3 {
  width: 170px;
  margin: 0 auto;
  color: #DCE3E7;
  font-family: "Droid Serif", serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px; }

.card-info {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  color: #DCE3E7;
  font-family: "Droid Serif", serif;
  font-style: 16px;
  font-size: 180%;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); }

.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20; }

.utility-list {
  list-style-type: none;
  margin: 0 0 30px 20px;
  padding: 0;
  width: 100%; }
  .utility-list li {
    margin: 0 15px 0 0;
    padding: 0 0 0 22px;
    display: inline-block;
    color: #DCE3E7;
    font-family: "Roboto", sans-serif; }
    .utility-list li.comments {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-chat.svg) no-repeat 0 0.1em; }
    .utility-list li.date {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-calendar.svg) no-repeat 0 0.1em; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Tarjeta 4 */
.h14 {
  font-size: 60px; }

.h34 {
  font-size: 26px; }

.italic4 {
  font-style: italic;
  font-size: 26px; }

.card4 {
  position: relative;
  margin: auto;
  height: 350px;
  width: 600px;
  text-align: center;
  background: linear-gradient(#E96874, #6E3663, #2B0830);
  border-radius: 2px;
  box-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 30px; }
  .card4 header {
    position: absolute;
    top: 31px;
    left: 0;
    width: 100%;
    padding: 0 10%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center; }
    .card4 header > *:first-child {
      text-align: left; }
    .card4 header > *:last-child {
      text-align: right; }

.logo4 {
  font-size: 24px;
  position: relative; }
  .logo4:before, .logo4:after {
    content: "";
    position: absolute;
    top: 50%;
    border-top: 3px solid currentColor;
    transform: translateY(-50%); }
  .logo4:before {
    right: 158px;
    width: 40%; }
  .logo4:after {
    left: 158px;
    width: 55%; }
  .logo4 span {
    /*border: solid currentColor;
     *border-width: 0 3px 3px 0;
     *position: absolute;
     *top: -22px;
     *width: 69px;
     *height: 70px;
     *left: 50%;
     *transform: translateX(-58%) rotate(58deg) skew(0deg, -30deg); */
    display: block;
    position: absolute;
    width: 100%;
    top: calc(50% - 1px); }

.announcement {
  position: relative;
  border: 3px solid currentColor;
  border-top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.announcement4:before, .announcement4:after {
  content: "";
  position: absolute;
  top: 0px;
  border-top: 3px solid currentColor;
  height: 0;
  width: 15px; }
.announcement4:before {
  left: -3px; }
.announcement4:after {
  right: -3px; }

.inspiration {
  position: absolute;
  bottom: 20px;
  left: 20px; }

.a4 {
  text-decoration: none;
  outline: 0;
  color: currentColor;
  transition: 0.2s ease-in-out; }
  .a4:visited, .a4:focus, .a4:active, .a4:link {
    text-decoration: none;
    outline: 0; }

.h14, .h24, .h34, .h44 {
  margin: 0.15em 0; }

.ul4 {
  padding: 0;
  list-style: none; }

.img4 {
  vertical-align: middle;
  height: auto;
  width: 100%; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*Tarjeta 5 */
.container5 {
  width: 600px;
  height: 340px;
  margin: 0 auto;
  position: relative;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  -moz-transform: perspective(1400px);
  -ms-transform: perspective(1400px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin: right;
  -moz-perspective-origin: right;
  perspective-origin: right; }

.card5 {
  width: 600px;
  height: 340px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.7), 0 17px 17px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: 0.8s ease-in-out; }

.logo5 {
  width: 200px;
  height: 200px;
  position: relative;
  background: linear-gradient(45deg, #F5AF69 50%, #F4EED7 50.9%), linear-gradient(90deg, #FC5135 50%, #4E203C 50%), linear-gradient(-45deg, #F5AF69 50%, #E8D9A0 50.9%), linear-gradient(#FC5135 50%, #4E203C 50%), linear-gradient(-45deg, #F5AF69 50%, #E8D9A0 50.9%), linear-gradient(90deg, #FC5135 50%, #4E203C 50%), linear-gradient(45deg, #FC5135 50%, #F5AF69 50.9%);
  background-size: 50px 50px, 100px 50px, 50px 50px, 200px 100px, 50px 50px, 100px 50px, 50px 50px;
  background-repeat: no-repeat;
  background-position: 0 0, 50px 0px, 150px 0, 0 50px, 0 150px, 50px 150px, 150px 150px; }
  .logo5:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 140px;
    height: 140px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: linear-gradient(45deg, #F4EED7 50%, #E8D9A0 50%); }
  .logo5:after {
    content: "";
    position: absolute;
    top: 55px;
    left: 55px;
    width: 90px;
    height: 90px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: linear-gradient(45deg, #FC5135 50%, #4E203C 49.9%), linear-gradient(-45deg, #F5AF69 50%, transparent 50%), linear-gradient(#FC5135 50%, #FC5135 50%), linear-gradient(-45deg, #4E203C 50%, transparent 50%);
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: 0 0, 0 45px, 45px 45px, 45px 0;
    border-radius: 0 50% 50% 50%; }
  .logo5 span {
    display: block;
    background: #4E203C;
    width: 29px;
    height: 32px;
    position: absolute;
    top: 99.5px;
    left: 130px;
    border-radius: 0 50% 50% 0; }
    .logo5 span:before {
      content: "";
      width: 10px;
      height: 10px;
      background: #E8D9A0;
      border-radius: 50%;
      position: absolute;
      top: 11px;
      left: 10px;
      z-index: 2; }

.front5, .back5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

.front5 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.back5 {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  font-family: "Arimo", sans-serif; }

.container5:hover .card5 {
  -webkit-transform: rotateY(180deg) translateX(100%);
  -moz-transform: rotateY(180deg) translateX(100%);
  -ms-transform: rotateY(180deg) translateX(100%);
  transform: rotateY(180deg) translateX(100%);
  cursor: pointer; }

.ul5 {
  margin: 0;
  width: 100%;
  list-style: none;
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 0 1%; }
  .ul5:after {
    content: "";
    display: table;
    clear: both; }

.li5 {
  width: 31.3333333333%;
  margin: 0 1%;
  float: left;
  padding: 10px;
  border: 2px solid #FC5135;
  border-radius: 4px;
  position: relative;
  text-align: center;
  color: #4E203C; }
  .li5:before {
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    background: #FC5135;
    color: white;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-family: FontAwesome; }
  .li5:nth-child(1):before {
    content: ""; }
  .li5:nth-child(2):before {
    content: ""; }
  .li5:nth-child(3):before {
    content: ""; }

.h15 {
  color: #FC5135;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  margin-top: 110px;
  text-align: center;
  font-size: 40px; }
  .h15 span {
    color: #4E203C;
    display: block;
    font-size: 0.45em;
    letter-spacing: 3px; }
  .h15 .i5 {
    font-style: normal;
    text-transform: none;
    font-family: "Playfair Display", serif; }

/**************************************************************************** */
/*Objetos */
/*Objeto 1 */
/**************************************************************************** */
.button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-right: 30px;
  padding-left: 70px;
  position: relative;
  background-color: #297fb8;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  margin-left: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true); }
  .button span {
    position: absolute;
    left: 0;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.15); }
  .button:hover span, .button.active span {
    background-color: #00661a;
    border-right: 1px solid rgba(0, 0, 0, 0.3); }
  .button:active {
    margin-top: 2px;
    margin-bottom: 13px;
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true)";
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true); }
  .button.turquoise {
    background: #1abc9c; }

/*Objeto 2 */
/**************************************************************************** */
.switch {
  display: inline-block;
  margin: 10em 1em;
  margin-left: 5px;
  position: relative;
  border-radius: 3.5em;
  -webkit-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.2); }
  .switch label {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; }
  .switch input {
    display: none; }
  .switch span {
    display: block;
    -webkit-transition: top 0.2s;
    -moz-transition: top 0.2s;
    -ms-transition: top 0.2s;
    -o-transition: top 0.2s;
    transition: top 0.2s; }

.switch-border1 {
  border: 0.1em solid #000;
  border-radius: 3.5em;
  -webkit-box-shadow: 0 0.2em rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 0.2em rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.2em rgba(255, 255, 255, 0.2); }

.switch-border2 {
  width: 6.6em;
  height: 12.6em;
  position: relative;
  border: 0.1em solid #323232;
  background-image: -webkit-gradient(linear, left top, right top, from(#2D2D2D), color-stop(0.5, #4B4B4B), to(#2D2D2D));
  background-image: -webkit-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -moz-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -ms-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -o-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: linear-gradient(to right, #2D2D2D, #4B4B4B, #2D2D2D);
  border-radius: 3.4em; }
  .switch-border2:before, .switch-border2:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.3;
    border-radius: 3.4em; }
  .switch-border2:before {
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(#000, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(#000, rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(#000, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(#000, rgba(0, 0, 0, 0));
    background: linear-gradient(#000, rgba(0, 0, 0, 0)); }
  .switch-border2:after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), #000);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), #000);
    background: -ms-linear-gradient(rgba(0, 0, 0, 0), #000);
    background: -o-linear-gradient(rgba(0, 0, 0, 0), #000);
    background: linear-gradient(rgba(0, 0, 0, 0), #000); }

.switch-top {
  width: 100%;
  height: 84%;
  position: absolute;
  top: 8%;
  left: 0;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(#2D2D2D), color-stop(0.5, #4B4B4B), to(#2D2D2D));
  background-image: -webkit-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -moz-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -ms-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -o-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: linear-gradient(to right, #2D2D2D, #4B4B4B, #2D2D2D);
  border-radius: 3.4em; }

.switch-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 3.4em;
  -webkit-box-shadow: 0 0 2em black inset;
  -moz-box-shadow: 0 0 2em black inset;
  box-shadow: 0 0 2em black inset; }

.switch-handle-left, .switch-handle-right {
  content: "";
  display: block;
  width: 3.6em;
  height: 0;
  position: absolute;
  top: 6.6em;
  z-index: 2;
  border-bottom: 4.5em solid #111;
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  border-radius: 0; }

.switch-handle-left {
  left: 0.8em; }

.switch-handle-right {
  right: 0.8em; }

.switch-handle {
  width: 3.6em;
  height: 4.5em;
  position: absolute;
  top: 6.6em;
  left: 1.5em;
  z-index: 3;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#111), color-stop(0.4, #777), color-stop(0.5, #888), color-stop(0.6, #777), to(#111));
  background-image: -webkit-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -moz-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -ms-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -o-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: linear-gradient(to right, #111, #777 40%, #888, #777 60%, #111);
  border-radius: 0; }

.switch-handle-top {
  width: 5em;
  height: 5em;
  position: absolute;
  top: 8.5em;
  left: 0.8em;
  z-index: 4;
  background-color: #555;
  background-image: -webkit-gradient(linear, left top, right top, from(#5F5F5F), to(#878787));
  background-image: -webkit-linear-gradient(left, #5F5F5F, #878787);
  background-image: -moz-linear-gradient(left, #5F5F5F, #878787);
  background-image: -ms-linear-gradient(left, #5F5F5F, #878787);
  background-image: -o-linear-gradient(left, #5F5F5F, #878787);
  background-image: linear-gradient(to right, #5F5F5F, #878787);
  border-top: 0.2em solid #AEB2B3;
  border-radius: 2.5em; }

.switch-handle-bottom {
  width: 3.6em;
  height: 3.6em;
  position: absolute;
  top: 4.7em;
  left: 1.5em;
  z-index: 3;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#111), color-stop(0.4, #777), color-stop(0.5, #888), color-stop(0.6, #777), to(#111));
  background-image: -webkit-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -moz-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -ms-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -o-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: linear-gradient(to right, #111, #777 40%, #888, #777 60%, #111);
  border-top: 0.2em solid #141414;
  border-radius: 1.8em; }

.switch-handle-base {
  width: 4.2em;
  height: 4.2em;
  position: absolute;
  top: 3.8em;
  left: 1.2em;
  z-index: 2;
  border-top: 0.2em solid rgba(255, 255, 255, 0.35);
  border-radius: 2.1em;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8) inset; }

.switch-led {
  position: absolute;
  left: 2em;
  border-radius: 1.4em; }

.switch-led-border {
  border: 0.2em solid black;
  border-radius: 1.3em; }

.switch-led-light {
  border-radius: 1.1em;
  -webkit-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5) inset; }

.switch-led-glow {
  width: 2em;
  height: 2em;
  position: relative;
  border-radius: 1em; }
  .switch-led-glow:before {
    content: "";
    display: block;
    width: 0.6em;
    height: 0.6em;
    position: absolute;
    top: 0.3em;
    left: 0.7em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.3em;
    -webkit-box-shadow: 0 0 1em rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 0 1em rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 1em rgba(255, 255, 255, 0.75); }
  .switch-led-glow:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    filter: alpha(opacity=20);
    border: 1em solid #fff;
    border-color: transparent #fff transparent #fff;
    border-radius: 1em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.switch-led:after {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  color: #666;
  font-family: arial, verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0.1em rgba(0, 0, 0, 0.7); }

.switch-led-green:after {
  content: "ON";
  top: -1.8em; }

.switch-led-red:after {
  content: "OFF";
  bottom: -1.8em; }

.switch-led-green {
  top: -5em;
  border-top: 0.1em solid rgba(0, 161, 75, 0.5);
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.25); }
  .switch-led-green .switch-led-light {
    background: #00a14b;
    border: 0.1em solid #006838; }

.switch-led-red {
  bottom: -5em;
  border-top: 0.1em solid rgba(237, 28, 36, 0.2);
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 0 3em #ed1c24;
  -moz-box-shadow: 0 0 3em #ed1c24;
  box-shadow: 0 0 3em #ed1c24; }
  .switch-led-red .switch-led-light {
    background: #ed1c24;
    border: 0.1em solid #a11e2d; }
  .switch-led-red .switch-led-glow {
    background: #fff;
    background: rgba(255, 255, 255, 0.3);
    filter: alpha(opacity=30); }

/* Switch on */
.switch input:checked ~ .switch-handle-left, .switch input:checked ~ .switch-handle-right {
  top: 1.5em;
  border-bottom: 0;
  border-top: 4.5em solid #111; }
.switch input:checked ~ .switch-handle {
  top: 1.5em; }
.switch input:checked ~ .switch-handle-top {
  top: -1em;
  border-top: 0;
  border-bottom: 0.2em solid #AEB2B3; }
.switch input:checked ~ .switch-handle-bottom {
  top: 4.2em;
  border-top: 0;
  border-bottom: 0.2em solid #141414; }
.switch input:checked ~ .switch-handle-base {
  top: 4.5em;
  border-top: 0;
  border-bottom: 0.2em solid rgba(255, 255, 255, 0.35); }
.switch input:checked ~ .switch-led-green {
  -webkit-box-shadow: 0 0 3em #00a14b;
  -moz-box-shadow: 0 0 3em #00a14b;
  box-shadow: 0 0 3em #00a14b; }
  .switch input:checked ~ .switch-led-green .switch-led-glow {
    background: #fff;
    background: rgba(255, 255, 255, 0.4);
    filter: alpha(opacity=40); }
.switch input:checked ~ .switch-led-red {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  .switch input:checked ~ .switch-led-red .switch-led-glow {
    background: rgba(255, 255, 255, 0);
    filter: alpha(opacity=0); }

/**************************************************************************** */
/*Objeto 3 */
/**************************************************************************** */
@font-face {
  font-family: "pictos";
  src: url("http://web-gate.fr/fonts/websymbols-regular-webfont.ttf");
  src: url("http://web-gate.fr/fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://web-gate.fr/fonts/websymbols-regular-webfont.woff") format("woff"), url("http://web-gate.fr/fonts/websymbols-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.pane {
  display: block;
  width: 520px;
  text-align: center;
  height: 260px;
  padding: 10px;
  margin: 20px auto;
  position: relative;
  /*box-shadow */
  -webkit-box-shadow: 0px 0px 1px 0px black, 0px 3px 15px 2px black;
  -moz-box-shadow: 0px 0px 1px 0px black, 0px 3px 15px 2px black;
  box-shadow: 0px 0px 1px 0px black, 0px 3px 15px 2px black;
  border: 1px solid #5c5c5c;
  border-top: 1px solid #999;
  /*border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%);
  background-image: -webkit-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%);
  background-image: -moz-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%);
  background-image: -ms-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%);
  background-image: -o-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%);
  /*background-size */
  -webkit-background-size: 5px 5px;
  -moz-background-size: 5px 5px;
  -o-background-size: 5px 5px;
  background-size: 5px 5px; }

p, .button {
  /*transition */
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 20px; }

span:hover > p {
  color: #00aeff;
  text-shadow: -1px -2px 1px #000; }

.buttonn {
  display: block;
  float: left;
  font-size: 28px;
  background-color: #434343;
  background-image: -webkit-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
  background-image: -moz-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
  background-image: -o-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
  background-image: -ms-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
  background-image: linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7A7A7A), to(#515151));
  border: none;
  border-top: 3px solid #c2c2c2;
  /*border-radius */
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  /*box-shadow */
  -webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222;
  -moz-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222;
  padding: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  margin-right: 10px;
  text-decoration: none;
  color: #242424;
  background-image: -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.1) 3.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.2) 2.2%), -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999 100%); }
  .buttonn:before, .buttonn:after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    /*border-radius */
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    /* fake conical gradients */
    background-image: -webkit-radial-gradient(50% 0%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(50% 100%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 10%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 6%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); }
  .buttonn:before {
    /*transform */
    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg); }
  .buttonn:after {
    /*transform */
    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg); }
  .buttonn:active {
    border-top: 0px solid #dde1e7;
    /*box-shadow */
    -webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222, 0px 0px 5px #00aeff, 0px 0px 50px #00aeff, 0px 0px 50px #93d9fa;
    -moz-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222, 0px 0px 5px #00aeff, 0px 0px 50px #00aeff, 0px 0px 50px #93d9fa;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222, 0px 0px 5px #00aeff, 0px 0px 50px #00aeff, 0px 0px 50px #93d9fa;
    /*transform */
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px); }

/* Social btns */
.social span {
  width: 30px;
  height: 30px;
  margin: 15px;
  font-size: 20px; }
  .social span p {
    padding: 0;
    margin: 5px; }
  .social span:active {
    /*box-shadow */
    -webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 7px #222, 0 4px 0 7px #222, 0px 0px 50px #FFF;
    -moz-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 7px #222, 0 4px 0 7px #222, 0px 0px 50px #FFF;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 7px #222, 0 4px 0 7px #222, 0px 0px 50px #FFF; }
  .social span:hover > .t {
    color: #53B1F0;
    text-shadow: -1px -1px 1px #000; }
  .social span:hover > .s {
    color: #00aeff;
    text-shadow: -1px -1px 1px #000; }
  .social span:hover > .y {
    color: #C30000;
    text-shadow: -1px -1px 1px #000; }
  .social span:hover > .f {
    color: #3B5998;
    text-shadow: -1px -1px 1px #000; }
  .social span:hover > .g {
    color: #D84335;
    text-shadow: -1px -1px 1px #000; }
  .social span:hover > .k {
    color: #32516C;
    text-shadow: -1px -1px 1px #000; }
  .social span:hover > .l {
    color: #71B6D9;
    text-shadow: -1px -1px 1px #000; }
  .social span:hover > .m {
    color: #44BBFF;
    text-shadow: -1px -1px 1px #000; }

/**************************************************************************** */
/*Objeto 4 */
.switchBtn {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 34px; }
  .switchBtn input {
    display: none; }

.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 8px;
  color: #fff; }
  .slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 78px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s; }

.input4:checked + .slide {
  background-color: #8CE196;
  padding-left: 40px; }
.input4:focus + .slide {
  box-shadow: 0 0 1px #01aeed; }
.input4:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -20px; }

.slide.round {
  border-radius: 34px; }
  .slide.round:before {
    border-radius: 50%; }

/**************************************************************************** */
/*Objeto 5 */
.gridcontainer {
  width: 720px;
  margin: 30px auto; }

.grid_3 {
  display: inline;
  float: left;
  margin-left: 42.5%;
  margin-right: 10px;
  width: 220px; }

.fmcircle_out {
  width: 200px;
  height: 200px;
  background: rgba(221, 221, 221, 0.3) url(../img/img1.png);
  text-align: center;
  display: block;
  margin-left: 10px;
  opacity: 0.5;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .fmcircle_out:hover {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .fmcircle_out:hover .fmcircle_in img {
      margin: 30px 25px 25px 25px;
      width: 120px;
      height: 120px;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      transition: all 0.2s linear; }

.fmcircle_in {
  width: 170px;
  height: 170px;
  margin: 15px;
  display: inline-block;
  overflow: hidden;
  border-radius: 85px;
  -moz-border-radius: 85px;
  -webkit-border-radius: 85px;
  -o-border-radius: 85px; }
  .fmcircle_in img {
    border: none;
    margin: 53px;
    width: 64px;
    height: 64px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .fmcircle_in span {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    width: 160px;
    background: #fff;
    color: #666666;
    padding: 5px;
    margin: 70px 0 0 0;
    height: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    float: left;
    position: absolute;
    opacity: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear; }

.fmcircle_out:hover .fmcircle_in span {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.fmcircle_green {
  background-color: green; }

/**************************************************************************** */
/*Objeto 3 y 4 */

/*# sourceMappingURL=style.css.map */
