.mensaje{
	border: 20px solid #ccc;
	padding: 10px;
	color: #333;
}
@mixin satisfactorio{
	@extend .mensaje;
	border-color: green;
	background-color: lightgreen;
}
@mixin error{
	@extend .mensaje;
	border-color: red;
        background-color: pink;
}
@mixin advertencia{
	@extend .mensaje;
	border-color: yellow;
        background-color: orange;
}

@mixin sombra($valorX, $valorY, $color){
	box-shadow: $valorX $valorY $color;
}