.caja {
    margin:20px auto 40px auto;	
    border:1px solid #1b3b6f;
    height:30px;
    overflow: hidden;
    width: 230px;
    position:relative;
 }
 select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
 }
 select:focus{ outline: none;}
 
 .caja::after{
     content:"\025be";
     display:table-cell;
     padding-top:7px;
     text-align:center;
     width:30px;
     height:30px;
     background-color:#1b3b6f;
     position:absolute;
     top:0;
     right:0px;	
     pointer-events: none;
 }