@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto-Medium;
	src: url(../fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
	font-family: Roboto-Bold;
	src: url(../fonts/roboto/Roboto-Bold.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100%;
	font-family: sans-serif;
}
html {
	height: 100%;
	font-family: sans-serif;
}
a {
	margin: 0;
	transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	&:focus {
		outline: none !important;
	}
	&:hover {
		text-decoration: none;
	}
}
h1 {
	margin: 0;
}
h2 {
	margin: 0;
}
h3 {
	margin: 0;
}
h4 {
	margin: 0;
}
h5 {
	margin: 0;
}
h6 {
	margin: 0;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	list-style-type: none;
}
li {
	margin: 0;
	list-style-type: none;
}
input {
	display: block;
	outline: none;
	border: none !important;
	&:focus {
		border-color: transparent !important;
	}
}
textarea {
	display: block;
	outline: none;
	&:focus {
		border-color: transparent !important;
	}
}
button {
	outline: none !important;
	border: none;
	background: 0 0;
	&:hover {
		cursor: pointer;
	}
}
iframe {
	border: none !important;
}
.js-pscroll {
	position: relative;
	overflow: hidden;
}
.table100 {
	.ps__rail-x {
		z-index: 1010;
		height: 6px;
		background-color: transparent;
		opacity: 1 !important;
		bottom: 10px;
		&::before {
			content: "";
			display: block;
			position: absolute;
			background-color: #e6e6e6;
			height: 100%;
			width: calc(100% - 30px);
			left: 15px;
			top: 0;
		}
		.ps__thumb-x {
			height: 100%;
			bottom: 0;
			background-color: transparent;
			opacity: 1 !important;
			&::before {
				content: "";
				display: block;
				position: absolute;
				background-color: #b3b3b3;
				height: 100%;
				width: calc(100% - 30px);
				top: 0;
				left: 15px;
			}
		}
	}
	background-color: #fff;
	width: 100%;
	position: relative;
	th {
		padding-top: 21px;
		padding-bottom: 21px;
	}
	td {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}
.limiter {
	width: 100%;
	margin: 0 auto;
	background: #fa71cd;
	background: -webkit-linear-gradient(bottom,#c471f5,#fa71cd);
	background: -o-linear-gradient(bottom,#c471f5,#fa71cd);
	background: -moz-linear-gradient(bottom,#c471f5,#fa71cd);
	background: linear-gradient(bottom,#c471f5,#fa71cd);
}
.container-table100 {
	max-width: 1366px;
	margin: 0 auto;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 33px 100px;
}
.wrap-table100 {
	width: 100%;
}
table {
	width: 100%;
}
th {
	font-weight: unset;
	padding-right: 10px;
}
td {
	font-weight: unset;
	padding-right: 10px;
}
.column1 {
	width: 100%;
	padding-left: 40px;
}
.column2 {
	width: 225px;
	padding-left: 55px;
}
.column3 {
	width: 205px;
}
.column4 {
	width: 195px;
}
.column5 {
	width: 235px;
}
.column6 {
	width: 170px;
}
.column7 {
	width: 330px;
}
.column8 {
	width: 305px;
}
.table100-firstcol {
	background-color: #fff;
	position: absolute;
	z-index: 1000;
	width: 310px;
	top: 0;
	left: 0;
	table {
		background-color: #fff;
		background-color: transparent;
	}
}
.wrap-table100-nextcols {
	width: 100%;
	overflow: auto;
	padding-left: 310px;
	padding-bottom: 28px;
}
.table100-nextcols {
	table {
		table-layout: fixed;
	}
}
.shadow-table100-firstcol {
	box-shadow: 8px 0 10px 0 rgba(0,0,0,.05);
	-moz-box-shadow: 8px 0 10px 0 rgba(0,0,0,.05);
	-webkit-box-shadow: 8px 0 10px 0 rgba(0,0,0,.05);
	-o-box-shadow: 8px 0 10px 0 rgba(0,0,0,.05);
	-ms-box-shadow: 8px 0 10px 0 rgba(0,0,0,.05);
}
.table100.ver1 {
	th {
		font-family: Roboto-Bold;
		font-size: 14px;
		color: #333;
		line-height: 1.4;
		text-transform: uppercase;
	}
	td {
		font-family: Roboto-Medium;
		font-size: 15px;
		line-height: 1.4;
	}
	.table100-firstcol {
		td {
			color: #666;
		}
	}
	.table100-nextcols {
		td {
			color: #999;
		}
	}
	tr {
		border-bottom: 1px solid #f2f2f2;
	}
}
